	.my-calendar  {
		margin : 0 0 0 0;
		padding : 0 0 0 0;
	}

	.mc-date {
		border-top: 1px solid #7094B8;
		border-left: 1px solid #7094B8;
		border-right: 1px solid #7094B8;
		border-top-left-radius:  5px;		
		border-top-right-radius:  5px;		
		padding : 3px;
		width : 170px;
	}

	.mc-body {
		border : 1px solid #7094B8;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		height : 76vh;
	}

	.mc-profesionales {
		width : 100%;
		display : inline-block;
		vertical-align: top;
		margin : -2px -2px 0 0;
		padding-top : 3px;
	}

	.mc-profesionales > div{
	}

	.cell {

		height : 30px;
		width : 200px;
		display : inline-block;
		margin : -1px -5px 1px 0;
		vertical-align: top;

	}

	.cell-header {

		border: 1px solid #5C85D6;
		text-align: center;
		padding-top : 4px;

	}

	.cell-header:first-child {

		width : 45px;
		text-align: center;

	} 

	.mc-turnos {

		width : 99.8%;
		height : 94%;
		overflow : hidden;
		overflow-y : scroll;
		display : inline-block;

	}

	.mc-turnos::-webkit-scrollbar {
		width: 5px;
		height : 10px;
		background : #7094B8;
		border-radius: 3px;
	}

	.mc-turnos::-webkit-scrollbar-thumb {
		background: #1C3753;
		border-radius: 3px;
	}

	.mc-turnos-content {
		width : 2500px;
	}

	.cell-mini {
		height : 30px;
		width: 45px;
		margin : 0px -5px 0 0;
	}

	.hs-cell {

		display : inline-block;
		border: 1px solid #C2D1E0;
		vertical-align: top;

	}

	.hs-row {

	}

	.hs-cell-header {
		background : #A9BFE9;
	}
	.hs-cell > p {
		width : 200px;
	}

	.hs-content {

		width : 2500px;
	}

	.hs-ini-turno {
		border-top : 1px solid black;
		border-left : 1px solid black;
		border-right : 2px solid black;
		border-bottom : hidden;
	}

	.hs-body-turno {
		border-top : 0px;
		border-bottom : 0px;
		border-left : 1px solid black;
		border-right : 2px solid black;
	}

	.hs-fin-turno {
		border-left : 1px solid black;
		border-right : 2px solid black;
		border-top : hidden;
		border-bottom : 1px solid black;
	}

	.cell-1 {
		background: #EB99FF;
	}

	.cell-2 {
		background: #6685E0;
	}

	.cell-3 {
		background: #A3A3C2;
	}

	.cell-4 {
		background: #66C266;
	}

	.cell-5 {
		background: #FFFFB2;
	}

	.cell-6 {
		background: #B280E6;
	}

	.cell-7 {
		background: #ADD6FF;
	}

	.cell-8 {
		background: #EB99C2;
	}

	.turno-box {

		position : relative;
		padding : 0 0 0 0;
		width : 100px;
		overflow: hidden;
	}

	.turno-box > h4 {
		font-size: 15px;
		font-weight: bold;
	}
	.turno-box > * {
		margin : 0 0 0 0;
	}
	.turno-box > p {
		font-size: 12px;
		cursor : pointer;
	}
	.turno-tooltip {

		background : #ADC2D6;
		position : absolute;
		top : 10px;
		left : 500px;
		width : 400px;
		height : 150px;
		border-radius : 10px;
		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);	

	}

	.turno-tooltip > div > h1 {
		font-size: 20px;
	}
	.turno-tooltip > div {
		padding : 5px;
	}
