body {
  background : white;
  overflow : hidden;
}

.alg-left {
  text-align : left;
}

.alg-right {
  text-align : right;
}

.alg-center {
  text-align : center;
}

.login-box {

  margin-top : 20%;
}

.content {

  background : #ddddff;
  height : 70vh;
}

.bar {
  width : 98%;
  margin : 1%;
}

.list {

  margin : 0 auto;
  width : 95%;


}

.list .list-group {
  overflow : hidden;
  overflow-y : scroll;

  height : 64vh;
}
