body {
  background : white;
  overflow : hidden;
}

.alg-left {
  text-align : left;
}

.alg-right {
  text-align : right;
}

.alg-center {
  text-align : center;
}

.login-box {

  margin-top : 20%;
}

.content {

  margin : 0px 0px 0px;
  background : white;
  height : 75vh;
  width : 98%
}

.bar {
  width : 98%;
  margin : 1%;
}

.list {

  margin : 0 auto;
  width : 98%;


}

.list .list-bar {
  padding : 5px 5px 5px 5px;
}

.list .list-bar .btn {
  font-weight : bold;
}

.list .list-group {

  overflow : hidden;
  overflow-y : scroll;
  height : 68vh;
}

.list .list-group::-webkit-scrollbar {
  width : 12px;
  background : #7ea9d9; 
}

.list .list-group::-webkit-scrollbar-thumb {
  background : #6d98d9; 
}
