		<div class="my-calendar">
			<div class="mc-date">
				<input type="date" class="fecha form-control" value="{{fecha | date('Y-m-d')}}">
			</div>
			<div class="mc-body">
				<div class="mc-profesionales">
					<div class="cell cell-header"></div>
					{% for profesional in profesionales %}
						<div class="cell cell-header profesional-header">{{ profesional.NOMBRE }}</div>
					{% endfor %}					
				</div>
				<div class="mc-turnos">
					<div class="mc-turnos-content">
						{% for columna in columnas %}
							<div>
							<div class="cell-mini hs-cell hs-cell-header">{{ columna.header }}</div> 
							{% for profesional in profesionales %}
								<div class="cell hs-cell turno" hs="{{ columna.header | replace("(\d+)\:(\d+)", "$1$2")}}" id-profesional="{{ profesional.ID }}"></div>
							{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!--<div class="my-calendar">
			<div class="mc-profesionales">
				<div><input type="date" class="mc-date" value="{{fecha | date('Y-m-d')}}"></div>
				{% for profesional in profesionales %}
					<div>{{ profesional.NOMBRE }}</div>
				{% endfor %}
			</div>
			<div class="mc-turnos">
				<div class="hs-content">
					<div class="hs-row">
						{% for columna in columnas %}
						<div class="hs-cell hs-cell-header">{{ columna.header }}</div>
					4	{% endfor %}
					</div>
					{% for profesional in profesionales %}
					<div class="hs-row">
						{% for columna in columnas %}
						<div class="hs-cell turno" hs="{{ columna.header | replace("(\d+)\:(\d+)", "$1$2")}}" id-profesional="{{ profesional.ID }}"></div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>-->
