<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Cerrar Turno</h3>
    </div>
    <div class="modal-body">
    	<p>Ingrese el importe a abonar y el pago realizado por el cliente</p>
    	<label for="importe">Importe a abonar</label>
    	<input type="text" id="importe" name="importe" class="form-control">
    	<label for="pago">Pago</label>
    	<input type="text" id="pago" name="pago" class="form-control">
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-6 alg-left">
        </div>
        <div class="col-md-6">
          <button id="ok" class="btn btn-success glyphicon glyphicon-ok"></button>
          <button class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal" ></button>
        </div>
      </div>
    </div>
  </div>
</div>
