<div class="list">
  <div>
    <button class="btn btn-success glyphicon glyphicon-plus"></button>
  </div>
  <div>
    <div class="list-group">
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
      <div class="list-group-item">
        <a href="">
        <div class="media">
          <div class="media-left media-middle">
            <img src="img/1.png" width="50px" height="50px" alt="">
          </div>
          <div class="media-body">
            <h4>Nombre Cliente</h4>
            <p>15-4556-9089 - Colombia 897</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
