<div class="modal-dialog" style="width: 70%">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Clientes</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-2 customers-form-menu">
          <div class="list-group">
            <div class="list-group-item">Datos</div>
            <div class="list-group-item">Historial</div>
          </div>
        </div>
        <div class="col-md-10 customers-form-content"></div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-6 alg-left">
          <button class="btn btn-warning glyphicon glyphicon-calendar"></button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success glyphicon glyphicon-ok"></button>
          <button class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal" ></button>
        </div>
      </div>
    </div>
  </div>
</div>
