<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-primary login-box">
      <div class="panel-heading">
        <h2>Ingreso</h2>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="login-message">
            <p>Usuario o clave incorrectos, intente nuevamente.</p>
          </div>
          <label for="user">Usuario</label>
          <input name="user" id="user" class="form-control" type="text">
          <label for="pass">Clave</label>
          <input name="pass" id="pass" class="form-control" type="password">
          <a href="#restore-account">Recuperar acceso</a>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6">
            <a href="#create-account">Crear Cuenta</a>
          </div>
          <div class="col-xs-6 alg-right">
            <button id="login" class="btn btn-primary">Ingresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
