<div class="page-header">
  <div class="row">
    <div class="col-md-6"><h1>Peluqueria <small class="caption"></small></h1></div>
    <div class="col-md-6">
      <a id="logout" href="/logout" style="float : right; margin-right : 10px">Cerrar sesion</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="list-group application">
      {% for app in applications %}

         <a href="#{{ app.URL}}" class="list-group-item">{{ app.TITLE }}</a>

      {% endfor %}
    </div>
  </div>
  <div class="col-md-10">
    <div class="content">
    </div>
  </div>
</div>
